@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

/* Global variable */

:root{
    --sideBGcolor : #040b14;
    --themeColor : #00a78e;
    --iconBGColor : #2c2f3f;
    --textColor : #353535;
    --bgColor : #f7f7f7;
}

/* Header Section */
header{
    height: 120vh;
    width: 300px;
    padding: 15px 20px;
    background-color: var(--sideBGcolor);
    overflow-y: auto;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    transition: 0.3s ease;
    z-index: 99;
}

header .profile{
    text-align: center;
    margin: 10px 0;
}

header .profile img{
    width: 180px;
    border-radius: 50%;
    height: 150px;
    border: 4px solid var(--bgColor);
}
header .profile h1{
    color: #fff;
    font-weight: 600;
    margin-top: 10px 0px;
 }
header .profile .social-icons a{
    display: inline-block;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    text-align: center;
    line-height: 35px;
    background-color: var(--iconBGColor);
    color: #fff;
    font-size: 15px;
    margin: 5px;
    transition: 0.3s;

}
header .profile .social-icons a:hover{
background-color: var(--themeColor);
}
/* NAVBAR */

header nav{
    margin-top: 30px;
}
header nav ul li {
    list-style: none;
}
header nav ul li a {
    display: inline-block;
    text-decoration: none;
    padding: 7px 10px;
    margin: 3px 0px;
    color: lightgray;
    font-weight: 400;
    font-size: 15px;
    letter-spacing: 0.7px;
    transition: 0.4s ease;
}
header nav ul li a i{
    margin-right: 10px;
    font-size: 20px;
    transition: 0.4s ease;
}
header nav ul li a:hover  {
    color: var(--themeColor);
}

/* FOOTER */
header .footer{
    text-align: center;
    background-color: var(--sideBGcolor);
    width: 300px;
    color: lightgray;
    position: fixed;
    font-size: 14px;
    letter-spacing: 0.6px;
    padding: 15px;
    bottom: 0;
    left: 0;
    transition: 0.4s;
}
header .footer p{
    color: var(--themeColor);
}

#menuBtn{
    position: fixed;
    top:  25px;
    right: 25px;
    font-size: 25px;
    width: 40px;
    height: 40px;
    color: #fff;
    background-color: var(--themeColor);
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 20%);
    z-index: 999;
    display: none;
}

/* Mobile view  */
@media only screen and (max-width: 1050px){
    header{
        left: -300px;
    }
    header .footer{
        left: -300px;
    }
    #menuBtn{
        display: block;
    }
}
.mobile-nav-active header{
left: 0;
}

.mobile-nav-active header .footer{
    left: 0;
    }

    /* MAIN Section */

 main{
        margin-left: 300px;
        background-color: var(--bgColor);
        transition: 0.3s ;

 }

 @media only screen and (max-width: 1050px){
    main{
        margin-left: 0;
    }
}

/* HOME Section */
#home{
    height: 100vh;
    width: 100%;
    background-image: url(img/background.jpg);
    background-size:cover;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    justify-content: center;
    /* align-items: center; */
    padding: 70px;
    position: relative;
    left: 0;
}

#home ::before{
    content: '';
    width: 100%;
    height: 100%;
    background-color: #00000011;
    position: absolute; 
    top: 0; 
    left: 0;
}
#home .home-row{
    z-index: 1;
}

#home .home-row h1{
    font-size: 60px;
    color: var(--bgColor);
    font-weight: 600;
    letter-spacing: -1px;
    margin-bottom: 10px;
    line-height: 70px;
    margin-left: 0;
}
#home .home-row h1 span{

    color: var(--themeColor);
}
#home .home-row p{
    color: #fff;
    font-size: 35px;
    font-weight: 500;
}
.auto-input{
    color: lightgreen
}
#home .home-row p span{
    border-bottom: 4px solid var(--themeColor);
}

/* Mobile View */
@media only screen and (max-width: 670px){
    #home{
       padding: 30px;
    }
    #home .home-row h1{
        font-size: 35px;
        letter-spacing: 0px;
        line-height: 50px;
    }
    #home .home-row h1 br{
        display: none;
    }
    #home .home-row p{
         font-size: 20px;
         font-weight: 400;
    }
}

/* ABOUT SECTION START*/
#about {
    padding: 70px 30px;
}
.sub-heading{
    color: #000;
    font-size: 30px;
    margin-bottom: 10px;
}
.divider1{
    width: 100px;
    height: 4px;
    background-color: var(--themeColor);
    border-radius: 3px;
    margin-bottom: 3px;
}
.divider2{
    width: 70px;
    height: 4px;
    background-color: var(--themeColor);
    border-radius: 3px;
}

.sub-para{
color: var(--textColor);
font-size: 15px;
font-weight: 500;
letter-spacing: 0.4px;
margin-top: 15px;
}

.about-col{
    display: flex;
    gap: 20px;
    margin-top: 25px;
}
.about-col .img-col{
    flex-basis: 35%;
    text-align: center;
}
.about-col .img-col img{
    width: 100%;
}
.about-col .info-col{
flex-basis: 70%;
}
.about-col .info-col h2{
    color: var(--themeColor);
    font-weight: 700;
    font-size: 35px;
    letter-spacing: 0.5px;
    margin-top: -10px;
}
.about-col .info-col p{
    color: var(--textColor);
    font-size: 15px;
    letter-spacing: 0.5px;
    font-style: italic;
}
.icon-list-col{
    display: flex;
    margin-top: 20px;
    gap: 40px;
}
.icon-list-col .icon-list ul li{
    list-style: none;
    margin: 15px 0;
}
.icon-list-col .icon-list ul li i{
    color: var(--themeColor);
}
.icon-list a{
    text-decoration: none;
}
.icon-list-col .icon-list ul li strong{
    color: var(--sideBGcolor);
    font-weight: 600;
    margin-right: 2px;
}
.icon-list-col .icon-list ul li span{
    color: var(--textColor); 
    font-weight: 500;
    font-size: 15px;
}
/* MOBILE VIEW */
@media only screen and (max-width: 830px){
    #about{
        padding: 50px 10px;
    }
#about .divider2 ~ p{ 
font-size: 14px;
text-align: justify;
letter-spacing: 0px;
}
#about .about-col{
    flex-direction: column;
}
.about-col .img-col img{
    width: 50%;
}
.about-col .info-col h2{
    font-weight: 600;
    font-size: 25px;
    letter-spacing: 0px;
}
.about-col .info-col p{
    font-size: 14px;
    letter-spacing: 0px;
}
.icon-list-col{
    flex-direction: column;
    gap: 0px;
}
.icon-list-col .icon-list ul li{
   margin: 10px 0;
}
.icon-list-col .icon-list ul li strong{
    font-weight: 500;
    margin-right: 0px;
}
.icon-list-col .icon-list ul li span{
    font-weight: 400;
    font-size: 13px;
}
}

@media only screen and (max-width: 400px){
.about-col .img-col img{
    width: 100%;
}
}
/* ABOUT SECTION END*/

/* FACT SECTION START*/
#fact{
    padding: 50px 30px;
    background-color: #fff;
}
#fact .fact-row{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 30px;
    margin: 50px;
}
.fact-box i{
    color: var(--themeColor);
    font-size: 50px;
}
.fact-box strong{
    color: var(--sideBGcolor);
    font-size: 30px;
    margin-left: 5px;
    font-weight: 800;
}
.fact-box p{
    color: var(--textColor);
    font-size: 16px;
    font-weight: 500;
}

/* MOBIEL VIEW */
@media only screen and (max-width: 700px){
    #fact{
        padding: 40px 15px;
    }
    #fact .fact-row{
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 10px;
    }
}
@media only screen and (max-width: 370px){
    .fact-box i{
        font-size: 30px;
    }
    .fact-box strong{
        font-size: 10px;
    }
    .fact-box p{
        color: var(--textColor);
        font-size: 12px;
        font-weight: 350;
    }
}
/* FACT SECTION END*/

/* SKILLS SECTION START*/
#skills{
    padding: 70px 30px;
}
.skills-row{
    margin-top: 35px;
    display: grid;grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
}
.skills-info{
display: flex;
align-items: center;
justify-content: space-between;
margin-bottom: 4px;
}
.skills-info h2{
color: var(--sideBGcolor);
font-weight: 600;
font-size: 15px;font-style: italic;
}
.skills-outer-line{
width: 100%;
height: 10px;
background-color: lightgray;
border-radius: 15px;
}
.skills-inner-line{
height: 10px;
background-color: var(--themeColor);
border-radius: 20px;
}

/* MOBILE VIEW */
@media only screen and (max-width: 450px){
    #skills{
        padding: 50px 15px;
    }
    .skills-row{
        display: grid;grid-template-columns: repeat(1, 1fr);
        grid-gap: 10px;
    }
}

/* SKILLS SECTION END*/

/* RESUME SECTION START*/
#resume{
    padding: 70px 30px;
    background-color: #fff;
}
#resume .resume-row{
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-top: 35px;
}
.resume-cols{
    flex-basis: 50%;
}
.resume-cols h2{
    color: var(--sideBGcolor);
    font-weight: 600;
    font-size: 25px;
    margin: 15px 0;
}
.my-info{
padding: 0 20px 0 20px;
margin: 20px 0;
border-left: 2px solid var(--themeColor);
position: relative;
}
.my-info::before {
content: "";
position: absolute;
top: 0;
left: -10px;
width: 15px;
height: 15px;
border-radius: 50%;
border: 2px solid var(--themeColor);
background-color: #fff;
}

.resume-cols h3{
color: var(--sideBGcolor);
font-size: 17px;
font-weight: 600;
text-transform: uppercase;
}
.my-info p{
    color: var(--textColor);
    font-size: 15px;
    font-weight: 600;
    font-style: italic;
    margin: 10px 0;
}
.my-info ul li{

    margin: 10px 0;
    margin-left: 20px;
    color: var(--textColor);
    font-size: 15px;
    font-weight: 500;
}
.my-edu{
padding: 0 20px 0 20px;
border-left: 2px solid var(--themeColor);
position: relative;
}
.my-edu::before{
    content: "";
    position: absolute;
    top: 0;
    left: -10px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 2px solid var(--themeColor);
    background-color: #fff;  
}
.sp-box{
    padding: 4px 22px;
    background-color: lightblue;
    color: var(--textColor);
    border-radius: 5px;
    font-size: 14px;
    font-weight: 600;
    font-style: italic;
    margin: 15px 0;
    display:inline-block;
}
.my-edu span + p{
    color: var(--textColor);
    font-size: 15px;
    font-weight: 500;
    font-style: italic;
    margin-bottom: 15px;
}
.my-edu span + p + p{
color: var(--textColor);
font-size: 15px;
font-weight: 500;
padding-bottom: 15px;
}
.pro-exp{
    padding: 0 20px 10px;
    border-left: 2px solid var(--themeColor);
    position: relative;
}
.pro-exp::before{
    content: "";
    position: absolute;
    top: 0;
    left: -10px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 2px solid var(--themeColor);
    background-color: #fff;  
}
.pro-exp p{
    color: var(--textColor);
    font-size: 17px;
    font-weight: 500; 
    font-style: italic;
} 
.pro-exp ul li{
    margin: 10px 0;
    margin-left: 20px;
    color: var(--textColor);
    font-size: 15px;
    font-weight: 500;
}

/* Mobile View */
@media only screen and (max-width: 850px){
    #resume{
        padding: 50px 15px;
    }
    #resume .resume-row{
     flex-direction: column;
    }
    .resume-cols{
        flex-basis: 100%;
    }

}

/* RESUME SECTION END*/
/*----------------------------------------*/
/* PORTFOLIO SECTION Start*/

#portfolio{
    padding: 70px 30px;
}
.port-row{
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 35px;
}
.port-item{
    position: relative;
    border-radius: 15px;
    overflow: hidden;
    /* box-shadow: 0 0 20px rgba(0, 0, 0, 20%); */
}
.port-img img{
width: 100%;
border-radius: 10px;
}
.port-info{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--themeColor);
    padding: 10 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    transform: scale(0);
    transition: 0.2s ease-out;
    border-radius: 10px;
    visibility: hidden;
}
.port-item:hover .port-info{
    transform: scale(1);
    visibility: visible;
}

.port-info h4{
    color: var(--bgColor);
    font-size: 20px;
    font-weight: 600;
}
.port-info h4 + p{
color: var(--bgColor);
font-size: 12px;
}
.port-info a{
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    width: 45px;
    height: 45px;
    background-color: var(--bgColor);
    border-radius: 50%;
    color: var(--themeColor);
    line-height: 46px;
    transition: 0.4s;
}
.port-info a:hover{
    background-color: var(--sideBGcolor);
    color: var(--bgColor);
}
@media only screen and (max-width: 850px){
    #portfolio{
        padding: 50px 10px;
    }
    .port-row{
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 15px;
    }
    .port-info{
        padding: 20px;
    }
       
}
@media only screen and (max-width: 350px){
    .port-row{
        grid-template-columns: repeat(1, 1fr);
    }
}

/* PORTFOLIO SECTION END*/

/* Services SECTION START*/
#service{
    padding: 70px 30px;
    background-color: #fff;
}

.service-row{
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
}

.service-box{
    display: flex;
    gap: 20px;
}
.icon i{
width: 50px;
height: 50px;
border-radius: 50%;
border: 2ps solid var(--themeColor);
font-size: 22px;
line-height: 45px;
background-color: var(--themeColor);
/* align-items: center; */
color: var(--bgColor);
transition: 0.7s;
text-align: center;
}

.service-box:hover .icon i{
transform: scale(1.2) rotate(-360deg);
color: var(--themeColor);
background-color: var(--bgColor);
border: 2px solid var(--themeColor);
}
.ser-info h3{
     color: var(--sideBGcolor);
     font-size: 20px;
     font-weight: 600;
}
.ser-info h3 + p{
    color: var(--textColor);
    font-size: 14px;
    font-weight: 500;
}

@media only screen and (max-width: 850px){
#service{
        padding: 50px 10px;
    }
.service-row{
 grid-template-columns: repeat(2, 1fr);
 grid-gap: 15px;
    }
.icon i{
    width: 40px;
    height: 40px;
    font-size: 15px;
    text-align: center;
}
    .service-box:hover .icon i{
            transform: scale(1.1) rotate(-360deg);
            }
}
@media only screen and (max-width: 550px){
    .service-row{
        grid-template-columns: repeat(1, 1fr);
    }
    
}
/* Services SECTION END*/

/* Contact SECTION Start*/

#contact{
    padding: 70px 30px;
}

.contact-row{
    margin-top: 50px;
    display: flex;
    gap: 20px;
    width: 100%;
}
.contact-left{
flex-basis: 40%;
min-width: 40%;
background-color: #fff;
box-shadow: 0 0 20px rgba(0, 0, 0, 20%);
border-radius: 10px;
padding: 30px;
}
.icon-box{
    display: flex;
    gap: 15px;align-items: center;
    margin: 30px 0;    
}
.icon-box:hover .icon i{
    transform: scale(1.1) rotate(-360deg);
    color: var(--themeColor);
    background-color: var(--bgColor);
    border: 1px solid var(--themeColor);
 }
.icon-box .info h4 + P{
    color: var(--textColor);
    font-size: 15px;
    font-weight: 500;
}
.contact-right{
    flex-basis: 60%;
    min-width: 60%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 20%);
    border-radius: 10px;
    padding: 20px;
    }
/* .contact-form{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 3.2rem;    
} */

/* .contact-form form{
    position: relative;
    width: 600px;
} */
/* form input, form textarea{
width: 100%;
padding: 20px;
border: none;
outline: none;
box-shadow: 0 0 5px var(--sideBGcolor);
background-color: var(--iconBGColor);
color: var(--bgColor);
margin-bottom: 10px;
border-radius: 10px;
border: 1px solid #353535;

} */
/* Mobile View */

@media only screen and (max-width: 800px){
    #contact{
        padding: 50px 10px;
    }
    .contact-row{
        flex-direction: column;
        gap: 10px;
    }
    
}
@media only screen and (max-width: 500px){
    #contact{
        padding: 50px 10px;
    }
    
}

/* Contact SECTION End*/